.field {
  label {
    display: inline-block;
    min-width: 8em;
    margin-right: 1rem;
    margin-top: 0.5rem;
  }
  textarea {
    display: block;
    width: 100%;
    min-height: 12em;
    max-height: 100vh;
    resize: vertical;
  }
}
.span-btn {
  user-select: none;
  cursor: pointer;
  &:hover {
    background-color: #9993;
  }
  &:active {
    background-color: #9996;
  }
}
