.link-create-field {
  .half-field {
    display: inline-flex;
    width: 50%;
    padding: 0 4px;
    label {
      white-space: nowrap;
      overflow: hidden;
    }
    input {
      width: 100%;
    }
  }
  .span-btn {
    user-select: none;
    cursor: pointer;
    &:hover {
      background-color: #9993;
    }
    &:active {
      background-color: #9996;
    }
  }
}
