@import '../scss/constant.scss';

$font-size: 16px;

.demo-typo-container {
  margin: auto;
  // max-width: min(90vw, 50 * $font-size); // min 方法比较新，老浏览器不兼容
  max-width: 64 * $font-size;
}
.demo-typo-collapse {
  &-header {
    padding: 4px 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    &-line {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: $font-size;
    }
    &-button {
      @include msButton;
      min-width: 3em;
      padding: $font-size * 0.125 $font-size * 0.25;
      font-size: $font-size * 0.75;
      // &:hover {
      //   background-color: #9991;
      // }
      // &:active {
      //   background-color: #9992;
      // }
    }
  }
  &-body-container {
    overflow: hidden;
    transition: all 240ms ease, color 0s;
    box-sizing: border-box;
    .demo-typo-collapse-body {
      padding: 8px 16px;
    }
  }
  &.hide {
    .demo-typo-collapse-body-container {
      transform-origin: center center;
      transform: scaleY(0);
      opacity: 0;
      max-height: 0 !important;
    }
  }
}
.demo-typo-h2,
.demo-typo-title {
  text-align: center;
  font-size: 2 * $font-size;
  margin-block-start: 0.6em;
  margin-block-end: 0.4em;
}
.demo-typo-h3,
.demo-typo-sub-title {
  text-align: center;
  font-size: 1.5 * $font-size;
  margin-block-start: 0.6em;
  margin-block-end: 0.4em;
}
.demo-typo-h4,
.demo-typo-sub-line {
  font-size: 1.25 * $font-size;
  margin-inline-start: 0.2em;
  margin-block-start: 0.3em;
  margin-block-end: 0.2em;
}
.demo-typo-text {
  font-size: $font-size;
  code,
  input,
  select,
  textarea,
  pre {
    padding: 0 4px;
    border-radius: 2px;
    border: 1px solid #9999;
    font-family: $fontCode;
  }
  input,
  select,
  textarea {
    background-color: $bgColor2;
    color: $fontColor;
  }
  input,
  textarea,
  pre {
    font-size: $font-size;
  }
}
.demo-typo-field {
  margin-bottom: 0.2rem;
  label {
    display: inline-block;
    min-width: 8em;
    margin: 0.2rem 1rem 0.2rem 0;
  }
  textarea {
    display: block;
    width: 100%;
    height: 12em;
    min-height: 3em;
    max-height: 100vh;
    resize: vertical;
  }
}
