// 这是一个 SCSS 模块的演示，后缀为 .module.scss、.mod.scss、.m.scss 的文件将视为 SCSS 模块
$font-size: 16px;

.demo-container {
  margin: auto;
  // max-width: min(90vw, 50 * $font-size); // min 方法比较新，老浏览器不兼容
  max-width: 50 * $font-size;
}
.title {
  text-align: center;
  font-size: 4 * $font-size;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
.sub-title {
  text-align: center;
  font-size: 2 * $font-size;
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
}
.text {
  font-size: $font-size;
  code {
    padding: 0 4px;
    border-radius: 2px;
    border: 1px solid #9999;
  }
}
