// 这是一个 SCSS 模块的演示，后缀为 .module.scss、.mod.scss、.m.scss 的文件将视为 SCSS 模块
$font-size: 16px;

.demo {
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .toggle-night {
    position: absolute;
    top: 5vh;
    right: 10vw;
    width: 2 * $font-size;
    height: 2 * $font-size;
    line-height: 2 * $font-size;
    font-size: 1.5 * $font-size;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
}
