@import '../../../src/scss/constant.scss';

.img-compress {
  .size-radio {
    &.small {
      color: #183;
      &.very-small {
        color: #1a1;
        font-weight: bold;
      }
    }
    &.normal {
      color: #446;
    }
    &.big {
      color: #831;
      &.very-big {
        color: #a11;
        font-weight: bold;
      }
    }
  }
  .type-btn {
    @include msButton;
    min-width: 60px;
    padding: 2px 4px;
    &-icon {
      min-width: 1.5em;
      text-align: center;
    }
  }
  .download-btn {
    @include msButton;
  }
}
