$dark: #191919;
$light: #fffcf6;
$dark2: #222;
$light2: #f7f6f2;
$primaryColor: hsl(200, 100%, 55%);

$leftWidth: 240px;
$fontSize: 16px;
$bgColor: var(--bg-color, $dark);
$fontColor: var(--text-color, $light);
$bgColor2: var(--bg-color-2, $dark2);
$fontColor2: var(--text-color-2, $light2);

$fontCode: Consolas, Source Code Pro, Courier New;
