// 这个 scss 文件夹里面存放 SCSS 方法/变量
// 这个文件存放全局样式
@import './constant.scss';

body {
  background-color: var(--bg-color-2);
  * {
    box-sizing: border-box;
  }
  &.night-style {
    // 夜间模式样式
    --text-color: #{$light};
    --bg-color: #{$dark};
    --text-color-2: #{$light2};
    --bg-color-2: #{$dark2};
  }
  &:not(.night-style) {
    // 夜间模式样式
    --text-color: #{$dark};
    --bg-color: #{$light};
    --text-color-2: #{$dark2};
    --bg-color-2: #{$light2};
  }
}
