// 这个 scss 文件夹里面存放 SCSS 方法/变量
// 这个文件存放全局样式

body {
  * {
    box-sizing: border-box;
  }
  &.night-style {
    // 夜间模式样式
    --text-color: #f0f0f0;
    --bg-color: #222;
  }
  &:not(.night-style) {
    // 夜间模式样式
    --text-color: #222;
    --bg-color: #f0f0f0;
  }
}
